* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color: #d9dcd6;
    margin-left: 10px;
    margin-right: 10px;
}

/* Style for the items inside the header */
.header {
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #94cbf8;
    color: #ffffff;
    margin-left: 10px;
    margin-right: -10px;
}

.header h1 {
    display: inline-block;
    font-size: 48px;
}

.header h1 .lastname {
    color: red;
}

/* Style and moving the nav links to the top left side of the page */
.header nav {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}

.header nav ul {
    list-style-type: none;
    justify-content: center;
}

.header nav ul li {
    display: inline-block;
    margin-left: 25px;
}

/* Style for the links */
a {
    color: #ffffff;
    text-decoration: none;
}

p {
    font-size: 16px;
}

.main-picture {
    height: 700px;
    width: 100%;
    margin-bottom: 25px;
    background-size: cover;
    background-position: center;
    margin-left: 10px;
    margin-right: 10px;
}

/* Style for the content articles */
.content {
    width: 100%;
    display: inline-block;
    margin-left: 10px;
    margin-right: 10px;
    border-radius: 10px;
    
}

#about-me{
    margin-bottom: 20px;
    padding: 50px;
    height: 400px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #379edf;
    color: #ffffff;
}

#work-experience{
    margin-bottom: 20px;
    padding: 50px;
    height: 400px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #286185;
    color: #ffffff;
}

#resume{
    margin-bottom: 20px;
    padding: 50px;
    height: 400px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #074f7c;
    color: #ffffff;
}

#about-me img, #work-experience img, #resume img{
    float: left;
    margin-right: 25px;
    border-radius: 10px;
    max-height: 250px;
}


#about-me h2, #work-experience h2, #resume h2 {
    margin-bottom: 20px;
    font-size: 36px;
}









/* Style for the footer */
.footer {
    padding: 30px;
    clear: both;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}

.footer h2 {
    font-size: 20px;
}